<div class="wrapper">
    <a href="{{site.url}}/">
        <div class="site-title">{{site.title}}</div>
    </a>
</div>

<div class="wrapper site-description">
    {{site.description}}
</div>

<div class="wrapper">
    <div class="trigger site-nav">
        <span class="site-nav-item">
            <a class="page-link" href="{{site.url}}/">home</a>
        </span>
        /
        <span class="site-nav-item">
            <a class="page-link" href="{{site.url}}/blog">blog</a>
        </span>
        /
        <span class="site-nav-item">
            <a class="page-link" href="{{site.url}}/resume">resume</a>
        </span>
    </div>
</div>
