
<div class="post-brief">

    <div class="post-brief-date">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{post.date | date: "%b %-d, %Y" }}</time>
    </div>
    <div class="post-brief-tag">
    {% for category in post.categories %}
        [<a class="page-link" href="{{sitePage.url}}\blog\{{category}}">{{category}}</a>]
    {% endfor %}
    </div>

    <br>
    <div class="post-brief-title">
        <a href="{{site.url}}{{site.baseurl}}{{post.url}}">{{post.title}}</a>
    </div>

    <div class="post-brief-excerpt">
        {{post.excerpt}}
    </div>

</div>
