<h1>Education</h1>
<div class="container">
    <h2>University of Bath<span style="float:right;">2012-2017</span></h2>
    <div class="container">
        <h3>MEng Electronic & Electrical Engineering
            <span style="float:right;">Average : 80.7%</span></h3>
        <table class="center">
            <tr>
                <th>Embedded Software</th>
                <td>
                    <span>Microprocessors & interfacing</span>,
                    <span>Digital electronics</span>,
                    <span>Structured programming</span>
                </td>
            </tr>
            <tr>
                <th>Signal Processing</th>
                <td>
                    <span>Signals systems & communications</span>,
                    <span>Signal processing</span>,
                    <span>Communication principles</span>,
                    <span>Principles of radio & optical transmission</span>,
                    <span>Digital Communications</span>,
                    <span>Digital Audio and Signal Processing</span>,
                    <span>Digital Image Processing</span>
                </td>
            </tr>
            <tr>
                <th>Hardware Design</th>
                <td>
                    <span>Circuit theory</span>,
                    <span>Electronic devices & circuits</span>,
                    <span>Digital systems design</span>,
                    <span>Microelectronics</span>
                </td>
            </tr>
            <tr>
                <th>Other</th>
                <td>
                    <span>Parallel Computing</span>,
                    <span>Computational Intelligence</span>,
                    <span>Biosensors and Bioelectronics</span>,
                    <span>Control systems</span>,
                    <span>Control Engineering</span>
                </td>
            </tr>
        </table>
    </div>
    <h2>Honiton Community College
        <span style="float:right;">2005-2012</span>
    </h2>
    <div class="container">
        <table class="center">
            <tr>
                <th>A Level</th>
                <td>
                    <span>Maths A*</span>,
                    <span>Further Maths A</span>,
                    <span>Physics A</span>,
                    <span>Chemistry B</span>,
                    <span>Extended Project (AS Equiv) A</span>
                </td>
            </tr>
            <tr>
                <th>GCSE</th>
                <td>
                    9 A* to B's with A* in Maths, A's in Physics, Chemistry and Biology
                </td>
            </tr>
        </table>
    </div>
</div>

<div>
    <h1>Programming Languages</h1>
    <div class="container">
        <table class="center">
            <tr>
                <th>Proficient</th>
                <td>Java, C</td>
            </tr>
            <tr>
                <th>Experienced</th>
                <td>JavaScript, CUDA, MATLAB, Verilog, Git</td>
            </tr>
            <tr>
                <th>Developing</th>
                <td>C#, C++, Python, Assembly</td>
            </tr>
        </table>
    </div>
</div>

<div>
    <h1>Work Experience</h1>
    <div class="container">
        <table>
            <tr>
                <th>BAE Systems Applied Intelligence<br>(Summer 2016)</th>
                <th>Software Engineer</th>
                <td>
                    I spent the summer working in a software team developing a bespoke web application. The team used
                    the agile workflow and I learnt a lot in the agile software development cycle. I worked mostly with
                    AngularJS, implementing new features that I demonstrated to the client and also converting existing
                    JQuery to Angular directives
                </td>
            </tr>
            <tr>
                <th>Sagentia<br>(2014-2015)</th>
                <th>Embedded Systems Engineer</th>
                <td>
                    I spent time working on a consumer device with two PIC processors which operated in a master slave
                    configuration. The device included motors and was designed to run many months on the same set of
                    batteries. I worked on a variety of different features but most notably I wrote a script runner to
                    easily automate testing and also a robust debouncing algorithm on capacitive buttons suffering from
                    significant noise. Working on several different projects concurrently whilst working there has given
                    me opportunity to improve my time management skills.
                </td>
            </tr>
        </table>
    </div>
</div>

<div>
    <h1>Projects</h1>
    <div class="container">
        <h2>Academic</h2>
        <div class="container">
            <table>
                <tr>
                    <th>Final Year Project</th>
                    <td>
                        The University of Bath has developed recently TIGRE, a new tomographic toolbox for X-ray CT
                        image reconstruction together with CERN. For my project, I will be contributing to the toolbox
                        in a variety of ways, primarily converting MATLAB to python. The open source repository can be
                        found at: <a href="https://github.com/CERN/TIGRE">https://github.com/CERN/TIGRE</a>
                    </td>
                </tr>
                <tr>
                    <th>Group Project</th>
                    <td>
                        Lane Departure Warning System implemented on an FPGA written in Verilog. I worked closely with
                        another member to create an adaptive histogram equalisation module and also a convolutional
                        filter module.
                    </td>
                </tr>
                <tr>
                    <th>Autonomous vehicle</th>
                    <td>
                        As a team, built a small motorised vehicle to follow a current carrying wire around a race
                        track. Our team used a PIC micro-controller for control of the system, applied filtering
                        algorithms to the input and came in the top 10 teams.
                    </td>
                </tr>
                <tr>
                    <th>Parallel programs</th>
                    <td>
                        Designed programs to solve a large iterative problem. Solved with both producer-consumer and
                        pipeline solutions. Analysed performance to determine scalability of the programs, including
                        optimising memory transactions relevant to the memory configuration.
                    </td>
                </tr>
                <tr>
                    <th>CUDA</th>
                    <td>
                        Course on Udacity which focused on parallel programming with the GPU; much was applying CUDA to
                        image processing for example image stitching and HDR.
                    </td>
                </tr>
            </table>
        </div>
        <h2>Personal</h2>
        <div class="container">
            <table>
                <tr>
                    <th>Game Jams</th>
                    <td>
                        Participate when I can in code jams, making games over a single weekend. I have learned a lot
                        due to the tight constraints and the rapid development cycles.
                    </td>
                </tr>
                <tr>
                    <th>libGDX</th>
                    <td>
                        Played around with making a game in Java using an open source cross-platform development
                        framework. I have learned many things, from the benefits of unit testing, to implementing
                        multi-threaded design.
                    </td>
                </tr>
                <tr>
                    <th>C++</th>
                    <td>
                        Learning C++ in my spare time to further my programming experience. Complimenting
                        this, I have been watching the C++ conference talks which I have found both interesting and
                        useful.
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div>
    <h1>Awards</h1>
    <ul>
        <li>Bath BP Centurian award - Academic achievement
            <span style="float:right;">2013 - 2014</span>
        </li>
        <li>Bath BP Centurian award - Academic achievement
            <span style="float:right;">2012 - 2013</span>
        </li>
        <li>RWE npower prize - Best first year student
            <span style="float:right;">2012 - 2013</span>
        </li>
    </ul>
</div>

<div>
    <h1>Interests</h1>
    <div class="container">
        <p style="text-align: center">
            In my spare time I enjoy playing both board and video games. I try to play squash and badminton often and
            have
            recently taken up learning French. I often participate in gamejams and enjoy contributing to the
            communities.
        </p>
    </div>
</div>