<h1>Experience</h1>
<div class="container">
    <div style="overflow:hidden"><h3 style="float:left">Ultrahaptics - Software Engineer</h3> <h3 style="float:right">2017 - current</h3></div>
    <div class="container">
        <table>
            <tr>
                <th>Research</th>
                <td>
                    Implementing library of real time signal processing algorithms. Working under tight constraints to keep the design easily transferable to hardware.
                </td>
            </tr>
            <tr>
                <th>Tools</th>
                <td>
                    Development of tools to aid design of haptics. Primarily a C++ library with a C API. On the client side of the ABI there are two use cases. A header only C++ layer, or a C# layer to interoperate with Unity, a popular 3D game engine. Custom user defined behaviour can be injected into the library via a Python interface.
                </td>
            </tr>
            <tr>
                <th>Examples</th>
                <td>Maintained and developed a demo application using the Qt framework.</td>
            </tr>
        </table>
    </div>

    <div style="overflow:hidden"><h3 style="float:left">BAE Systems Applied Intelligence - Software Engineer</h3> <h3 style="float:right">2016</h3></div>
    <div class="container">
        Worked as a team developing a web application, using the MEAN stack and a Java backend. I was focused on improving performance, achieved via benchmarking and optimisation.
    </div>

    <div style="overflow:hidden"><h3 style="float:left">Sagentia - Embedded Systems Engineer</h3> <h3 style="float:right">2014-2015</h3></div>
    <div class="container">
        As part of a multidisciplinary team, developed a consumer device for the mass market.
        The system consisted of two PIC micro-controllers and various peripherals.
        In order to reduce the manual aspect of verification, I implemented a scripting interface to drive the device programmatically.
    </div>
</div>

<h1>Programming Languages</h1>
<div class="container">
    <table class="center">
        <tr>
            <th>Current</th>
            <td>C++, C</td>
        </tr>
        <tr>
            <th>Previous</th>
            <td>C#, Java, Python, CUDA, MATLAB</td>
        </tr>
    </table>
</div>

<h1>Education</h1>
<div class="container">
    <h2>University of Bath<span style="float:right;">2012-2017</span></h2>
    <div class="container">
        <h3>MEng Electronic & Electrical Engineering
            <span style="float:right;">First class honours</span></h3>
        <div class="container">
            <p>Specialised in signal processing,
                 with interest in embedded software,
                  parallel computing,
                   and computational intelligence.</p>
        </div>
        <h3>Awards</h3>
        <ul>
            <li>Bath BP Centurion award - Academic achievement
                <span style="float:right;">2014</span>
            </li>
            <li>Bath BP Centurion award - Academic achievement
                <span style="float:right;">2013</span>
            </li>
            <li>RWE npower prize - Best first year student
                <span style="float:right;">2013</span>
            </li>
        </ul>
    </div>
</div>

<h1>Projects</h1>
<div class="container">
    <h2>Academic</h2>
    <div class="container">
        <table>
            <tr>
                <th>Final Year Project</th>
                <td>
                    Worked on a <a href="https://github.com/CERN/TIGRE">toolbox for X-ray CT image reconstruction</a>. I focused on converting the GPU accelerated algorithms from MATLAB to Python.
                </td>
            </tr>
            <tr>
                <th>Group Project</th>
                <td>
                    Lane Departure Warning System targeting an FPGA with Verilog. I worked closely with another member to improve image quality through adaptive histogram equalisation.
                </td>
            </tr>
        </table>
    </div>
    <h2>Personal</h2>
    <div class="container">
        <table>
            <tr>
                <th>CUDA</th>
                <td>
                    Completed a course on Udacity on parallel programming with the GPU; example scenarios included image stitching and HDR.
                </td>
            </tr>
            <tr>
                <th>Game Jams</th>
                <td>
                    Participate when I can, in making a complete game over a single weekend.
                </td>
            </tr>
        </table>
    </div>
</div>

<h1>Interests</h1>
<div class="container">
    <p style="text-align: center">
        To keep fit I enjoy bouldering and a bit of cycling. In my spare time I like to grow as many vegetables as I can, learn some new things at meetups, and maybe a bit more cycling!
    </p>
</div>
