.blog-nav {
  color: #ccc;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  text-indent: 6px;
  font-family: 'Josefin Sans';
  font-weight: 300;
  padding-top: 0.5em;
}

.blog-nav-item {
  padding-left: 2em;
  padding-right: 2em;
}