/**
 * Page content
 */

.page-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "PT Sans";
  text-align: center;
}

.page-tagline {
  font-size: 18px;
  font-family: "PT Sans";
  color: rgb(170, 170, 170);
  text-align: center;
  text-transform: lowercase;
}

.page-content {
  padding: 0;
}

.page-link {
  color: rgb(170, 170, 170);
}