/**
 * Page content
 */
.page-content {
  padding: 0;
}
.page-heading {
  font-size: 20px;
}

.page-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-indent: 2px;
  font-family: "PT Sans";
  font-size: 12px;
}
.page-tagline {
  font-size: 18px;
  font-family: "PT Sans";
  color: rgb(170, 170, 170);
  text-align: center;
  text-transform: lowercase;
}
.page-link {
  color: rgb(170, 170, 170);
}