/**
 * Post overview
 */
.post-brief {
  padding-top: 3em;
  font-family: "Source Sans Pro";
}

.post-brief-title {
  font-weight: 500;
  font-size: $larger-font-size;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-indent: 3px;
}

.post-brief-date {
  float: left;
  text-transform: uppercase;
  font-size: $small-font-size;
  font-weight: 300;
  letter-spacing: 2px;
  text-indent: 2px;
}

.post-brief-excerpt {
  text-align: center;
  font-weight: 200;
}

.post-brief-tag {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: $small-font-size;
  float: right;
}
/**
 * Actual post content
 */

.post {
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 300;
  padding-top: 0;
}

.post-title {
  font-size: 62px;
  text-align: center;
  font-weight: 900;
  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-header {
  margin-bottom: $spacing-unit;
}

.post-heading {
  font-size: 20px;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  text-transform: uppercase;
  text-align: center;
}

.post-link {
  display: block;
  font-size: 24px;
}

.post-list {
  margin-left: 0;
  list-style: none;
  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  padding-bottom: 3em !important;
  p {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 32px;
    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }
  h3 {
    font-size: 26px;
    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }
  h4 {
    font-size: 20px;
    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}