.post {
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 300;
  padding-top: 0;
}

.postContent {
  padding-top: 3.5em;
  text-align: center;
}
.postDate {
  float: left;
  text-transform: uppercase;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  text-indent: 2px;
}
.postTag {
  float: right;
}
.postTitle {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-indent: 3px;
}


.post-list {
  margin-left: 0;
  list-style: none;
  > li {
    margin-bottom: $spacing-unit;
  }
}
.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
}
.post-link {
  display: block;
  font-size: 24px;
}
/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}
.post-title {
  font-size: 62px;

  text-align: center;
  font-family: "PT Sans";
  font-weight: 900;
  @include media-query($on-laptop) {
    font-size: 36px;
  }
}
.post-author {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}
.post-content {
  margin-bottom: $spacing-unit;
  padding-bottom: 3em !important;
  p {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 32px;
    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }
  h3 {
    font-size: 26px;
    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }
  h4 {
    font-size: 20px;
    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
