/**
 * Site header
 */

.site-header {
  min-height: 48px;
  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 64px;
  font-family: 'PT Sans';
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  margin-top: .1em;
  > * {
    color:black !important;
  }
}

.site-sub-title {
  font-size: 32px;
  font-family: 'PT Sans';
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.site-description {
  font-size: 14px;
  letter-spacing: 2px;
  text-indent: 6px;
  text-align: center;
  font-family: 'Josefin Sans';
}

.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.site-nav {
  color: #aaa;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  text-indent: 6px;
  font-family: 'Josefin Sans';
  font-weight: 400;
}

.site-nav-item {
  padding-left: 2em;
  padding-right: 2em;
}

.site-nav-sub {
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  text-indent: 6px;
  font-family: 'Josefin Sans';
  font-weight: 300;
  padding-bottom: 0.5em;
}

.site-nav-sub-item {
  padding-left: 1em;
  padding-right: 1em;
}
