---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">
            <a class="post-title-link" href="{{page.url}}">{{page.title}}</a>
        </h1>

        <p class="post-meta" itemprop="author">
            {% if page.author %}
                <h3>{{page.author}}</h3>
            {% endif %}
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: "%b %-d,%Y" }}
            </time>
        </p>
    </header>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>

</article>
